<div class="container-fluid">
  <section class="container">
    <div class="container-page">
      <div class="row">
        <div class="col-md-6">
          <form id="payment-form" method="post" action=".">
            {{ error | safe }}
            <h3 class="dark-grey">Registration</h3>
            {% csrf_token %}

            <div class="form-group col-lg-6">
              <label>Username</label>

              {{ form.username }}

            </div>
            <br>
            <div class="form-group col-lg-6">
              <label>Password</label>
              {{ form.errorlist }}
              {{ form.password1 }}
            </div>
            <br>
            <div class="form-group col-lg-6">
              <label>Repeat Password</label>
              {{ form.password2 }}
              <p class="errorlist"><b id="validate-status"></b></p>
            </div>
            <div class="form-group col-lg-6">
              <label>Email</label>
              {{ form.errorlist }}
              {{ form.email }}
            </div>

            <div class="container"> By proceeding you agree to the terms and conditions

              <div class="form-group col-lg-8">
                <section>

                  <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                  </div>
                </section>

                <input type="hidden" id="nonce" name="payment_method_nonce" />

                <div class="bt-drop-in-wrapper">
                  <div id="bt-dropin">
                    <button class="button" type="submit" id="submit-button"><span> Submit Payment</span></button>

                  </div>
                </div>

              </div>
            </div>

          </form>
        </div>
        <div class="col-lg-6">

        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  $("#id_username").addClass("form-control");
  $("#id_password1").addClass("form-control");
  $("#id_password2").addClass("form-control");
  $(".errorlist").css("color", "red");

  $(document).ready(function () {
    $("#id_password2").keyup(validate);
  });

  function validate() {
    var password1 = $("#id_password1").val();
    var password2 = $("#id_password2").val();

    if (password1 == password2) {
      $("#validate-status")
        .text("Match")
        .css("color", "green");
    } else {
      $("#validate-status")
        .text("No Match")
        .css("color", "red");
    }
  }
</script>

<script src="https://js.braintreegateway.com/web/dropin/1.19.0/js/dropin.min.js"></script>
<script>
  var form = document.querySelector('#payment-form');
  var client_token = '{{ client_token }}';

  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
    paypal: {
      flow: 'vault'
    }
  }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }

        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
</script>